<h2>Add Task</h2>
<form method="POST" action="/tasks">
  <select name="user_id" required>
    {{#each users}}
      <option value="{{this.id}}">{{this.name}}</option>
    {{/each}}
  </select><br>
  <input type="text" name="task_name" placeholder="Task Name" required><br>
  <select name="status">
    <option value="Pending">Pending</option>
    <option value="Done">Done</option>
  </select><br>
  <button type="submit">Add Task</button>
</form>